In [25]:
import pandas as pd
df=pd.read_csv("RELIANCE.NS(1).csv")

df

,Date,Open,High,Low,Close,Adj Close,Volume
0,1996-01-01,16.009800,16.095699,15.904300,16.068300,2.426239,47600787.0
1,1996-01-02,16.029301,16.107401,15.826200,15.943400,2.407380,77143764.0
2,1996-01-03,16.205000,16.943001,16.029301,16.064400,2.425650,95695836.0
3,1996-01-04,15.912100,15.962900,15.701300,15.916000,2.403243,99159504.0
4,1996-01-05,15.853600,15.853600,15.670000,15.806700,2.386739,76213503.0
...,...,...,...,...,...,...,...
5948,2019-07-25,1264.000000,1269.050049,1227.000000,1231.500000,1231.500000,9968545.0
5949,2019-07-26,1231.500000,1242.500000,1210.000000,1213.800049,1213.800049,9320481.0
5950,2019-07-29,1216.900024,1222.000000,1205.099976,1210.949951,1210.949951,8058035.0
5951,2019-07-30,1213.949951,1220.000000,1175.949951,1180.900024,1180.900024,9533344.0
5952,2019-07-31,1175.750000,1185.000000,1162.400024,1166.250000,1166.250000,9702705.0

In [27]:
df=df.dropna()

In [28]:
df.isna().sum()

Date         0
Open         0
High         0
Low          0
Close        0
Adj Close    0
Volume       0
dtype: int64

In [29]:
X = ['Open', 'High', 'Low', 'Volume']
y = pd.DataFrame(df['Adj Close'])

In [30]:
X=pd.DataFrame(df[X])

In [31]:
X.head()

        Open       High        Low      Volume
0  16.009800  16.095699  15.904300  47600787.0
1  16.029301  16.107401  15.826200  77143764.0
2  16.205000  16.943001  16.029301  95695836.0
3  15.912100  15.962900  15.701300  99159504.0
4  15.853600  15.853600  15.670000  76213503.0

In [32]:
from sklearn.preprocessing import StandardScaler

# Create a StandardScaler object
scaler = StandardScaler()

# Fit the scaler to the data and transform it
X_scaled = scaler.fit_transform(X)

In [33]:
X_scaled

array([[-1.02309827, -1.02516942, -1.02121542,  0.30572915],
       [-1.02303586, -1.02513238, -1.02146852,  0.88467919],
       [-1.02247356, -1.02248748, -1.02081032,  1.24824183],
       ...,
       [ 2.82019801,  2.79184418,  2.83262477, -0.46918523],
       [ 2.81075668,  2.78551364,  2.73815795, -0.44027378],
       [ 2.6885026 ,  2.67472916,  2.69424654, -0.43695484]])

In [34]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X_scaled, y, test_size=0.2)

In [35]:
from tpot import TPOTRegressor
tpot = TPOTRegressor(generations=5, population_size=50, verbosity=2, random_state=42)
tpot.fit(X_train, y_train)
print(tpot.score(X_test, y_test))
tpot.export('tpot_boston_pipeline.py')

C:\Users\Anas\anaconda3\lib\site-packages\sklearn\utils\validation.py:993: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

Optimization Progress:   0%|          | 0/300 [00:00<?, ?pipeline/s]

Generation 1 - Current best internal CV score: -281.0111702542905

Generation 2 - Current best internal CV score: -271.036155330306

Generation 3 - Current best internal CV score: -271.036155330306

Generation 4 - Current best internal CV score: -271.036155330306

Generation 5 - Current best internal CV score: -259.917047568889

Best pipeline: RandomForestRegressor(RBFSampler(input_matrix, gamma=0.15000000000000002), bootstrap=True, max_features=0.6500000000000001, min_samples_leaf=10, min_samples_split=15, n_estimators=100)
-268.98753949281075

C:\Users\Anas\anaconda3\lib\site-packages\sklearn\utils\validation.py:993: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

In [ ]:
from lazypredict.Supervised import LazyRegressor
reg = LazyRegressor(verbose=0,ignore_warnings=False, custom_metric=None )
models,predictions = reg.fit(X_train, X_test, y_train, y_test)

 71%|██████████████████████████████████████████████████████████▌                       | 30/42 [00:40<00:08,  1.47it/s]